.btn-main{
    color: white;
    background: linear-gradient($colour-secondary,$colour-primary);
    border-radius: 25px;
    border: none;
    width: 200px;
    height: 50px;
    align-self: center;
    box-shadow: $shadow;
    font-size: 15px;
    &:hover{
        background: linear-gradient(lighten($colour-secondary,3%),lighten($colour-primary,3%));
        box-shadow: $darkshadow;
    }
}