
* {
    margin: 0;
    padding: 0;
    font-family:$basefontfamily;
    font-size: 12px;
}
.width{
    @include small{
        min-width: 320px;
    }
    @include small{
        min-width: 375px;
    }
    @include medium{
        min-width: 768px;
    }
    @include large{
        min-width: 1084px;
    }
    @include xlarge{
        min-width: 1200px;
    }
    @include xxlarge{
        min-width: 1140px;
    }
}
h1{
    font-size: 22px;
    font-weight: bold;
}
h2{
    font-size: 16px;
    .menu{
    font-family: $headingsfontfamily;
    font-size: 24px;
    letter-spacing: 1px;
    }
}
h3{
    font-weight: bold;
    font-size: 14px;
}
h4{
    font-family: $headingsfontfamily;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}

p{
    font-family:$basefontfamily;
    font-size: 17px;
}
a, a:visited, a:active{
    text-decoration: none;
    color: inherit;
}


