.restaurant-picture {
        img {
        width: 375px;
        height: 270px;
    }

}

.menu {
    background-color: $light-grey;
    border-radius: 25px 25px 0px 0px;
    margin-top: -45px;
    display: flex;
    flex-direction: column;
    padding: 40px 20px 60px 20px;
    position: relative;
    max-width: 375px;

    .card__like {
        position: absolute;
        top: 45px;
        right: 40px;
    }
}

.restaurant-name {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
}

.frame {
    position: relative;
    z-index: 1;
    background-color: white;
    border-radius: $borderradius;
    box-shadow: $shadow;
    padding: 10px;
    margin-top: 15px;

    &__content {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }

    &__text {
        @include line-end;
    }

    &__name {
        @include line-end;
        padding-bottom: 5px;
        font-size: 17px;
        font-weight: bold;
    }

    &__detail {
        @include line-end;
    }

    &__price {
        align-self: flex-end;
        font-weight: bold;
    }

    &--active {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $colour-tertiary;
        color: white;
        width: 60px;
        height: 100%;
        border-radius: 0px $borderradius $borderradius 0px;
        right: 0;
        bottom: 0;
        i{
            font-size: 20px;
        }
    }
}

.appetizer,
.dish,
.desert {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h3 {
        font-weight: lighter;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        padding-bottom: 3px;
    }

    h3:before {
        content: "";
        position: absolute;
        width: 40px;
        height: 2px;
        bottom: 0;
        left: 0;
        border-bottom: 3px solid $colour-tertiary;
        padding-bottom: 15px;
    }
}