.restaurant-picture {
    img {
        width: 375px;
        height: 270px;
    }

}

.menu {
    background-color: $light-grey;
    border-radius: 25px 25px 0px 0px;
    position: relative;
    top: -45px;
    display: flex;
    flex-direction: column;
    padding: 40px 10px 60px 10px;
}

.restaurant-name {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
}

.frame {
    background-color: white;
    border-radius: 15px;
    box-shadow: $shadow;
    padding: 10px;
    margin-top: 15px;
    position: relative;
    max-width: 350px;
    z-index: 1;

    &__like {
        align-self: flex-end;
        width: 25px;
        path{
            fill: transparent;
            stroke-width: 20px;
            stroke: black;
        }
    }

    &__name {
        font-weight: bold;
        padding-bottom: 5px;
        font-size: 15px;
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__detail {
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        flex-wrap: nowrap;
    }

    &__price {
        font-weight: bold;
        position: absolute;
        overflow: hidden;
        text-overflow: ellipsis;
        bottom: 15px;
        right: 25px;
    }
    &--active{
        background-color: $colour-tertiary;
        color: white;
        width: 60px;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px 15px 15px 0px ;
        right: 0;
        bottom: 0;
        font-size: 1.5em;
        transform: scaleX(0);
    }
}

.appetizer
,.main,
.desert {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h3 {
        font-weight: lighter;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        padding-bottom: 3px;
    }

    h3:before {
        content: "";
        position: absolute;
        width: 40px;
        height: 2px;
        bottom: 0;
        left: 0;
        border-bottom: 3px solid $colour-tertiary;
        padding-bottom: 15px;
    }
}
