$colour-primary:#9356dc;
$colour-secondary:#FF79DA;
$colour-tertiary:#99E2D0;
$light-grey:#f6f6f6;
$grey:#7e7e7e;
$dark-grey:#353535;
$green:#008766;
$light-green:#99e2d0;
$shadow:0px 5px 5px #c5c5c5;
$darkshadow:0px 5px 5px darken(#c5c5c5, 10%);
$borderradius:15px;
$breakpoints:(
    xsmall:320px,
    small:375px,
    medium:768px,
    large:1084px,
    x-large:1200px,
    xx-large:1440px);

@keyframes heart {
    0% {
        fill-opacity: 0;
        stroke-width: inherit;
    }

    100% {
        fill-opacity: 1;
        stroke-width: 0px;
    }
}
.gradient {
    &--bottom {
        stop-color: $colour-secondary;
    }

    &--top {
        stop-color: $colour-primary;
    }
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

@keyframes loader {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-9999px);
    }
}

@keyframes courses {
    0% {
        transform: scale(0);
        transform-origin: 50% 0%;
    }

    100% {
        transform: scale(1);
        transform-origin: 50% 0%;
    }
}

@keyframes hide {
    0% {
        width: 300px;
        transform-origin: left 50%;
    }

    100% {
        width: 200px;
        transform-origin: left 50%;
    }
}
@keyframes hide-xsmall {
    0% {
        width: 250px;
        transform-origin: left 50%;
    }

    100% {
        width: 170px;
        transform-origin: left 50%;
    }
}

@keyframes conserv {
    0% {
        transform: scaleX(1);
        transform-origin: left 50%;
    }

    100% {
        transform: scaleX(1.25);
        transform-origin: left 50%;
    }
}

@keyframes hide-reverse {
    0% {
        width: 200px;
        transform-origin: left 50%;
    }

    100% {
        width: 300px;
        transform-origin: left 50%;
    }
}
@keyframes hide-reverse-xsmall {
    0% {
        width: 170px;
        transform-origin: left 50%;
    }

    100% {
        width: 250px;
        transform-origin: left 50%;
    }
}

@keyframes show {
    0% {
        transform: scaleX(0);
        transform-origin: 100% 100%;
    }

    100% {
        transform: scaleX(1);
        transform-origin: 100% 100%;
    }
}

@keyframes show-reverse {
    0% {
        transform: scaleX(1);
        transform-origin: 100% 100%;
    }

    100% {
        transform: scaleX(0);
        transform-origin: 100% 100%;
    }
}

